certifi==2018.1.18
click==6.7
eventlet==0.22.1
Flask==0.12.2
Flask-Login==0.4.1
Flask-SocketIO==2.9.6
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
greenlet==0.4.13
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.14.2
psycopg2==2.7.4
psycopg2-binary==2.7.4
python-engineio==2.0.4
python-socketio==1.9.0
scikit-learn==0.19.1
scipy==1.0.1
six==1.11.0
SQLAlchemy==1.2.4
Werkzeug==0.14.1
WTForms==2.1
