{% extends 'base.html' %}

{% block content%}

{% set colors = ["00cc00", "990000", "003366", "ff8000", "4A33E8"] %}

<!-- Page Content -->
<div class="container">

    {% if all %}
    <!-- Page Heading -->
    <h1 class="my-4">All Topics
    <!-- <small>Secondary Text</small> -->
    </h1>
    {% endif %}

    {% if not all %}
    <br><br>
      <nav class="navbar navbar-expand-md">
        <div class="jumbotron text-center col-md-8 mx-auto" style="background-color:#135667">
        <p class="lead text-white">Create a quiz today</p>
        <hr class="my-4">
        <p class="text-white">Why the wait when you can create your own quiz and start crowd sourcing questions in just one click!</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/startquiz" role="button">Start a Quiz</a>
        </p>
        </div>
        </nav>
    <hr class="my-4">
    <h1 class="my-4">My Topics
    <!-- <small>Secondary Text</small> -->
    </h1>
    {% endif %}

    <div class="row">
    
    {% if topics|length > 0 %}
        {% for topic in topics %}
        <div class="col-md-8 portfolio-item my-2">
            <div class="card h-100">
            <div class="card-body">
                <h4 class="card-title">
                <a href="/topics/{{topic.id}}">{{topic.name}}</a>
                </h4>
                <p class="card-text">{{topic.description|truncate}}</p>
                
                 
                {% set tags = topic.tags.split(", ") %}
                {% for tag in tags %}
                    <span class="btn btn-sm btn-primary">{{tag}}</span>
                {% endfor %}
                {% if not all %}
                <a href="/review/{{topic.id}}">View questions</a>
                {% endif %}
            </div>
            <div class="card-footer">
                <strong>Deadline : </strong>{{topic.dateTime.strftime('%I:%M %p')}}, {{topic.dateTime.strftime('%d %b %Y')}}
            </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-warning" role="alert">
            {% if all %}
            No Quiz topics found!
            {% else %}
            You don't have any quizzes, Create one!
            {% endif %}
        </div>
    {% endif %}
    </div>
    <!-- /.row -->

    <!-- Pagination -->
    <ul class="pagination justify-content-center">
    <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
        </a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
        </a>
    </li>
    </ul>

</div>
<!-- /.container -->


{% endblock %}