<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>QuizSource - The source for all quiz questions </title>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <a class="navbar-brand text-light mr-5" href="/"><h2><small>Quiz</small><strong>Source</strong></h2></a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <form class="form-inline nav-form w-75">
            <input class="form-control mr-sm-1 w-75" style="margin-right: 0.8rem;" type="text" placeholder="Search for questions, people and topics">
            <button class="btn btn-outline-success my-2 my-sm-0 ml-sm-2" type="submit">Search</button>
          </form>
  
          <div class="nav-buttons">
            <button class="btn btn-primary mr-1">Sign Up</button>
            <button class="btn btn-secondary">Log In</button>
          </div>
    
        </div>

      </nav>
      
    <!-- <nav class="navbar-collapse collpase navbar-light" style="background-color: #135667;">
      <div class="container">
        <a class="navbar-brand text-light" href="/"><h2><small>Quiz</small><strong>Source</strong></h2></a>

        <form class="form-inline my-2 my-lg-0 text-light">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-default my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav> -->

    <style>

      @media screen and (max-width: 768px) {

        .nav-form {
          width: 100%;
        }

        .nav-form input {
          width: 70%;
        }
      }
    </style>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {% block content %}{% endblock %}

    
  </body>
</html>