{% extends 'base.html' %}

{% block content%}
<div class="container">

    <div class="card row p-5">
        <h3><strong><a href="/">Web technologies Unit Test 1</a></strong></h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore consequatur optio reiciendis repellat dolore asperiores dicta tempora, aliquam ab iste. Repudiandae dolorum nam, maxime id dignissimos aliquid obcaecati veritatis molestias.</p>
        <div class="small">
            <button type="button" class="btn btn-info small" style="background-color: #4A33E8;">Web</button>
            <button type="button" class="btn btn-info small" style="background-color: #4A33E8;">Frontend</button>            
        </div>
        <p class="text-muted text-right">
            Total submissions : 7
        </p>
    </div>
</div>

{% endblock %}