{% extends 'base.html' %}

{% block content%}
<div class="container">

    <div class="row p-5">
        <h3><strong><a href="/">Web technologies Unit Test 1</a></strong></h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore consequatur optio reiciendis repellat dolore asperiores dicta tempora, aliquam ab iste. Repudiandae dolorum nam, maxime id dignissimos aliquid obcaecati veritatis molestias.</p>
        <div>
            <button type="button" class="btn btn-info">Web</button>
            <button type="button" class="btn btn-info">Frontend</button>            
        </div>
        <p class="text-muted">
            Total submissions : 7
        </p>
    </div>
</div>

{% endblock %}