{% extends 'base.html' %}

{% block content%}

<br><br>

<div class="container">
    <div class="card col-md-6 mx-auto" style="box-shadow: 0px 0px 20px #eee;">
    <div class="card-body">
        
    <div class="row text-center">
        <div class="col-md-6">
            <a href="#" class="active" id="login-form-link"><i class="fas fa-sign-in-alt"></i> Login</a>
        </div>
        <div class="col-md-6">
            <a href="#" id="register-form-link"><i class="far fa-address-card"></i> Register</a>
        </div>
    </div>

    <br>
    
    <form id="login-form" action="/register" method="POST">
        <div class="form-group">
            <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
        </div>
        <div class="form-group">
            <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
        </div>
        <div class="form-group text-center">
            <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
            <label for="remember"> <i class="fas fa-sign-in-alt"></i> Remember Me</label>
        </div>
        <div class="form-group">
            <button type="submit" name="submit" value="login" id="login-submit" tabindex="4" class="form-control btn btn-primary">Log In</button>
        </div>
        <div class="form-group text-center">
            <a href="" tabindex="5" class="forgot-password"><i class="fas fa-exclamation-triangle"></i> Forgot Password?</a>
        </div>
    </form>

    <form id="register-form" action="" method="post" role="form" style="display: none;">
        <div class="form-group">
            <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
        </div>
        <div class="form-group">
            <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
        </div>
        <div class="form-group">
            <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
            <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
        </div>
        <div class="form-group">     
            <button type="submit" name="submit" value="register" id="register-submit" tabindex="4" class="form-control btn btn-primary">Sign Up</button> 
        </div>
    </form>

</div>
</div>
<br><br>
</div>

<script>

$(function() {

    $('#login-form-link').click(function(e) {
        $("#login-form").delay(100).fadeIn(100);
        $("#register-form").fadeOut(100);
        $('#register-form-link').removeClass('active');
        $(this).addClass('active');
        e.preventDefault();
    });
    $('#register-form-link').click(function(e) {
        $("#register-form").delay(100).fadeIn(100);
        $("#login-form").fadeOut(100);
        $('#login-form-link').removeClass('active');
        $(this).addClass('active');
        e.preventDefault();
    });

});

</script>

{% endblock %}