{% extends 'base.html' %}

{% block content%}

{% set colors = ["00cc00", "990000", "003366", "ff8000", "4A33E8"] %}

<!-- Page Content -->

<div style="position: fixed; top:20px; left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            z-index: 1000;" id="alertbox">
</div>

<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">All Questions
    <!-- <small>Secondary Text</small> -->
    </h1>

    {% for question in questions %}
    {% set options = [question.option1, question.option2, question.option3, question.option4] %}
    
    <div class="row">
        <div class="col-sm-12 portfolio-item my-2">
            <div class="card">
                <div class="card-body">

                    <p class="card-text"><strong>Q.</strong>{{ question.name }}</p>

                    <div class="row">
                        <div class="col"><strong>A. </strong>{{ question.option1 }}</div>
                        <div class="col"><strong>B. </strong>{{ question.option2 }}</div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col"><strong>C. </strong>{{ question.option3 }}</div>
                        <div class="col"><strong>D. </strong>{{ question.option4 }}</div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col"><strong>Correct Option: </strong>{{ options[question.correct_answer - 1] }}</div>
                    </div>
                    
                    <br>
                    {% if (question.status == 0) %}
                        <span class="btn btn-sm btn-success" id="btn-success-{{loop.index}}">Select</span>
                    {% else %}                  
                        <span class="btn btn-sm btn-outline-success" id="btn-success-{{loop.index}}">Select</span>
                    {% endif %}

                    {% if (question.status == 1) %}
                        <span class="btn btn-sm btn-warning" id="btn-warning-{{loop.index}}">Mark for review</span>
                    {% else %}                  
                        <span class="btn btn-sm btn-outline-warning" id="btn-warning-{{loop.index}}">Mark for review</span>
                    {% endif %}

                    {% if (question.status == 2) %}
                        <span class="btn btn-sm btn-danger" id="btn-danger-{{loop.index}}">Reject</span>
                    {% else %}                  
                        <span class="btn btn-sm btn-outline-danger" id="btn-danger-{{loop.index}}">Reject</span>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- /.row -->

    <!-- Pagination -->
    <ul class="pagination justify-content-center">
    <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
        </a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
        </a>
    </li>
    </ul>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Generate Quiz
    </button>
    
    <br><br><br>

</div>
<!-- /.container -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Additional information</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form method="GET" action="/quiz/{{topic_id}}">
        <div class="modal-body">
            <div class="form-group row">
                <label for="hosted_by" class="col-sm-2 col-form-label">Hosted by</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="hosted_by" placeholder="Institution name (Ex. VESIT)">
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="form-group row">
                <label for="duration" class="col-sm-2 col-form-label">Duration of test</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="duration" placeholder="Time in hours (Ex. 3)">
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="form-group row">
                <label for="max_marks" class="col-sm-2 col-form-label">Maximum marks</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" name="max_marks" placeholder="Ex. 80">
                </div>
            </div>
        </div>
        
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="submit" value="Generate" class="btn btn-primary">
        </div>
        </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
    
        var socket = io.connect(document.domain + ':' + location.port, {
            'match origin protocol': true,
        });
        // io.set('match origin protocol', true);        

        socket.on('question_updated', function() {
            $("#alertbox").html("<div class='alert alert-success alert-dismissible fade show animated slideInDown' role='alert'> Change successful! <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>");
        });

        {% for question in questions %}
        $("#btn-success-{{loop.index}}").click(function(){
            console.log("I got called");
            socket.emit('update_question', {id: {{question.id}}, status: 0 });
            $("#btn-success-{{loop.index}}").toggleClass("btn-outline-success").toggleClass("btn-success")
            $("#btn-warning-{{loop.index}}").addClass("btn-outline-warning").removeClass("btn-warning")
            $("#btn-danger-{{loop.index}}").addClass("btn-outline-danger").removeClass("btn-danger")
        });

         $("#btn-warning-{{loop.index}}").click(function(){
            socket.emit('update_question', {id: {{question.id}}, status: 1 });            
            $("#btn-success-{{loop.index}}").addClass("btn-outline-success").removeClass("btn-success")
            $("#btn-warning-{{loop.index}}").toggleClass("btn-outline-warning").toggleClass("btn-warning")
            $("#btn-danger-{{loop.index}}").addClass("btn-outline-danger").removeClass("btn-danger")
        });

         $("#btn-danger-{{loop.index}}").click(function(){
            socket.emit('update_question', {id: {{question.id}}, status: 2 });            
            $("#btn-success-{{loop.index}}").addClass("btn-outline-success").removeClass("btn-success")
            $("#btn-warning-{{loop.index}}").addClass("btn-outline-warning").removeClass("btn-warning")
            $("#btn-danger-{{loop.index}}").toggleClass("btn-outline-danger").toggleClass("btn-danger")
        });
        {% endfor %}
    });
</script>

{% endblock %}