{% extends 'base.html' %}

{% block content%}

<style>
    #full{
        background: linear-gradient(#135667, white);
    }
</style>

<div id="full"> 
<div class="container">

    <h1 class="text-white py-4">Start a Quiz</h1>

    <section class="start-topic">
        <form method="POST">
          <div class="form-group">
            <label for="topicName">Topic Name</label>
            <input type="text" class="form-control" name="name" placeholder="Enter Topic Name">
          </div>
           <div class="form-group">
            <label for="topicDescription">Topic Description</label>
            <textarea class="form-control" name="description" placeholder="Enter Topic Description" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="topicDeadline">Topic Deadline</label>
            <div class="row">
                <div class="col-sm-6">
                    <input class="form-control" name="date" type="date" placeholder="Enter Date">
                </div>
                <div class="col-sm-6">
                    <input class="form-control" name="time" placeholder="Enter Time" type="time"/>
                </div>
            </div>
            
          </div>

          <div class="form-group">
            <label for="tags">Tags</label>
            <input type="text" class="form-control" name="tags" placeholder="Tags">
          </div>
         
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </section>

</div>
</div>
<br><br>

{% endblock %}